<!DOCTYPE>
<html>
    <head>
        <title>Apperclass Test Doc</title>

        <script type="text/javascript" src="{{ asset('bundles/apperclasstestdoc/vendor/jquery/jquery-2.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/apperclasstestdoc/vendor/bootstrap/js/bootstrap-3.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/apperclasstestdoc/js/main.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('bundles/apperclasstestdoc/vendor/bootstrap/css/bootstrap-3.1.1.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/apperclasstestdoc/css/main.css') }}" />
    </head>
    <body>
        <div class="container">
            {% include 'ApperclassTestDocBundle:Default:blocks/header.html.twig' %}
            <div class="row">
                <div class="col-md-12">
                    {% for test in tests %}
                        <div data-url="{{ test.url }}" class="test-url-doc panel {% if test.method== 'GET' %} panel-success
                        {% elseif test.method == 'POST' %} panel-primary
                        {% elseif test.method == 'PUT' %} panel-warning
                        {% elseif test.method == 'PATCH' %} panel-warning
                        {% elseif test.method == 'DELETE' %} panel-danger
                        {% else %} panel-info
                        {% endif %}
                        ">
                            {% include 'ApperclassTestDocBundle:Default:blocks/panel-heading.html.twig' %}
                            {% include 'ApperclassTestDocBundle:Default:blocks/panel-body.html.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>